.card_chips{

       margin-bottom: 10px;
    

}
.card_chips span{
    width: auto;
    background-color:magenta;
    border-radius: 40px;
    margin: 2px;
    padding:5px 10px;
    -webkit-border-radius: 40px;
    -moz-border-radius: 40px;
    -ms-border-radius: 40px;
    -o-border-radius: 40px;
    color: #fff;
    text-transform: capitalize;
    font-size: 12px;
    display: flex;
    align-items: center;
    gap: 5px;
    
}