*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* /custom scroll desing */
/* kanban nav */


.kanban_nav{
    width:100%;
    padding: 20px 25px;
    border-bottom: 3px solid #eee;
box-shadow: 0 0 20px 0 rgba(0,0,0,0.2);
text-align: center;

}
.kanban_nav h1{
    text-transform: capitalize;
    font-size: 30px;
    color: orangered;

}
.kanban_nav h1::first-letter{
    font-size: 50px;
   
}
.kanban_nav h1 span{
    color: orange;
}
.kanban_nav h1 span::first-letter{
        font-size: 50px;
    
}


.ListOfBoard{
    width: 100%;
    height:80vh;
  
    margin: 30px 0px;
    

   
}

p{
    font-size: 1rem;
    line-height: 28px;
    font-weight: bold;
    text-transform: capitalize;
}

/* custom scroll */
.custom-scroll::-webkit-scrollbar{
 width: 8px;
 
}
.custom-scroll::-webkit-scrollbar-track{
background-color: #fff;
 
}
.custom-scroll::-webkit-scrollbar-thumb{
    border-radius: 30px;
  
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    -ms-border-radius: 30px;
    -o-border-radius: 30px;
    background-color: indigo;
    border: 1px solid #ccc;
    height: 20px;

}

 .custom-scroll::-webkit-scrollbar-thumb:hover{
   background-color: #eee;

}


.shadow{
     box-shadow: 0 0 10px rgba(0,0,0,0.2);
}

/* .icon{
    background-color: #eee;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    padding: 2px;
    opacity: 0.8;
    cursor: pointer;
} */
